; {{ ansible_managed }}

[settings]
ps_endpoints => odbc,MySQL-asterisk
ps_auths => odbc,MySQL-asterisk
ps_aors => odbc,MySQL-asterisk
ps_domain_aliases => odbc,MySQL-asterisk
ps_endpoint_id_ips => odbc,MySQL-asterisk
ps_contacts => odbc,MySQL-asterisk
; musiconhold => odbc,MySQL-asterisk,musiconhold



